<div class="tab {{#if this.active}}active{{/if}}" data-group="sheet" data-tab="layers">
    <div class="canvas-layers canvas-entity-layers-container">
        <h4>{{localize "CanvasLayers.UI.UsedLayersTitle"}}</h4>
        <input name="{{this.updatePath}}" class="canvas-layers layer-tagify" value="{{this.selectedLayers}}" />
    </div>

</div>