<div>
    <div>{{{localize "CanvasLayers.LayerMenu.LayersSection.RemoveMenu.RemoveConfirmationOptionText"}}}</div>
    <div class="remove-layer-options-container">
        <div class="remove-layer-option-container">
            <div class="remove-layer-option-title">{{localize "CanvasLayers.General.Drawings"}}</div>
            <input class="remove-layer-option-checkbox" type="checkbox" name="choices.drawings" {{#if this.choices.drawings}}checked{{/if}}/>
        </div>
    </div>
    <footer>
        <button data-action="close">{{localize "CanvasLayers.General.Cancel"}}</button>
        <button data-action="confirm">{{localize "CanvasLayers.General.Confirm"}}</button>
    </footer>
</div>