<div class="canvas-layers string-dialog">
    <input type="text" name="text" value="{{this.text}}" />
    <button data-action="save" {{#if (not this.text)}}disabled{{/if}}><i class="fa-solid fa-check"></i></button>
</div>