@import 'stylesheets/canvas-layer.less';
@import 'stylesheets/layer-menu.less';
@import 'stylesheets/guide-dialog.less';
@import (inline) "../node_modules/@yaireo/tagify/dist/tagify.css";

.theme-dark {
    .canvas-layers{
        .tagify {
            background-color: var(--color-cool-4);
        }
    }
}

.canvas-layers {
    .tagify {
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--color-border);
        border-color: var(--color-border);
        border-radius: 4px;
    }

    .canvas-icon {
        cursor: pointer;
        
        &:hover {
            filter: drop-shadow(0 0 3px red);
        }
    }

    .string-dialog {
        display: flex;
        gap: 4px;

        button {
            font-size: 24px;
            height: 32px;
            min-height: 32px;
        }
    }

    &.remove-layer-dialog {
        .remove-layer-options-container {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            gap: 4px;

            .remove-layer-option-container {
                display: flex;
                align-items: center;
                gap: 2px;

                .remove-layer-option-title {
                    font-size: 18px;
                    font-weight: bold;
                }

                .remove-layer-option-checkbox {
                    height: 18px;
                }
            }   
        }

        footer {
            margin-top: 8px;
            display: flex;
            align-items: center;
            gap: 8px;

            button {
                flex: 1;
            }
        }
    }

    &.canvas-entity-layers-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h4 {
            text-align: center;
            margin: 0;
        }
    }

    &.add-to-layer-dialog {
        .add-to-layer-container{
            display: flex;
            flex-direction: column;
            gap: 4px;

            h4 {
                margin: 0;
                text-align: center;
            }

            .canvas-form-group {
                display: flex;
                align-items: center;
                justify-content: space-between;

                label {
                    white-space: nowrap;
                }
            }

            .add-to-layer-tagify {
                width: 100%;
            }

            footer {
                display: flex;
                gap: 8px;

                button {
                    flex: 1;
                }
            }
        }
    }

    &.player-select-dialog {
        .player-select-dialog-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .player-select-dialog-inner-container {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .player-container{
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }

            footer {
                display: flex;
                gap: 8px;

                button {
                    flex: 1;
                }
            }
        }
    }
}